 <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Book Tickets</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <h3>Wednesday Morning</h3>
                    <script src="https://getinvited.to/js/robofo/science-carnival-wednesday-am/" id="script-robofo-science-carnival-wednesday-am"></script>  
                </div>
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <h3>Wednesday Afternoon</h3>
                    <script src="https://getinvited.to/js/robofo/science-carnival-wednesday-pm/" id="script-robofo-science-carnival-wednesday-pm"></script>  
                </div>    
            </div>
        </div>
    </section>